/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("./assets/WhatsApp\ Image\ 2024-02-03\ at\ 12.14.09_cb78b51c.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}